<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheet/output.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <title>404</title>
</head>
<body class="h-screen">
  <div class="min-h-screen flex flex-grow items-center justify-center bg-gray-h-screen">
    <div class="rounded-lg bg-white p-8 text-center shadow-xl">
      <h1 class="mb-4 text-4xl font-bold">404</h1>
      <p class="text-gray-600">Oops! The page you are looking for could not be found.</p>
      <a href="/articles" class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"> Go back to article </a>
    </div>
  </div>
</body>
</html>