<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheet/output.css" rel="stylesheet" />
  <title>profile</title>
</head>
<body class="bg-slate-200">
<header>  
</header>
<main class=" flex items-center justify-center ">
    <div class="bg-white w-1/2 mt-20 rounded-lg">
          <div class="flex items-center justify-center pt-5">
              <img class="rounded-full w-32" src="https://www.arretsurimage.ma/wp-content/uploads/2020/07/A50-PORTRAITS-033-copie.jpg" alt="" >
          </div>
    </div>
</main>
</body>
</html>