<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/output.css">
  <title>profile</title>
</head>
<body style="background-color: aliceblue;">
<header>  
</header>
<main class="bg-white h-6">
  
</main>
</body>
</html>